<?xml version="1.0" encoding="utf-8"?>
<settings>
  <allowservertodownloadremotefiles>False</allowservertodownloadremotefiles>
  <themecookiename>theme</themecookiename>
  <administratorrole>Administrators</administratorrole>
  <trackingscript>&lt;script type="text/javascript"&gt;
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
&lt;/script&gt;
&lt;script type="text/javascript"&gt;
try {
var pageTracker = _gat._getTracker("UA-10685042-1");
pageTracker._trackPageview();
} catch(err) {}&lt;/script&gt;</trackingscript>
  <numberofreferrerdays>0</numberofreferrerdays>
  <showdescriptioninpostlist>False</showdescriptioninpostlist>
  <theme>newspaper</theme>
  <blockauthoroncommentdelete>False</blockauthoroncommentdelete>
  <mobiletheme>Mobile</mobiletheme>
  <blogrollvisibleposts>3</blogrollvisibleposts>
  <dayscommentsareenabled>0</dayscommentsareenabled>
  <descriptioncharacters>300</descriptioncharacters>
  <searchbuttontext>Search</searchbuttontext>
  <editorsrole>Editors</editorsrole>
  <remotefiledownloadtimeout>30000</remotefiledownloadtimeout>
  <enablecontactattachments>True</enablecontactattachments>
  <enableselfregistration>False</enableselfregistration>
  <endorsement>http://www.dotnetblogengine.net/syndication.axd</endorsement>
  <enabletrackbacksend>True</enabletrackbacksend>
  <emailsubjectprefix>Weblog</emailsubjectprefix>
  <enablepasswordreset>True</enablepasswordreset>
  <smtpusername>matt@mattwrock.com</smtpusername>
  <disqusdevmode>False</disqusdevmode>
  <enablerating>True</enablerating>
  <commentsperpage>10</commentsperpage>
  <iscommentsenabled>True</iscommentsenabled>
  <description>matt wrock's observations and comments on software engineering</description>
  <moderationtype>Auto</moderationtype>
  <displaycommentsonrecentposts>False</displaycommentsonrecentposts>
  <storagelocation>~/App_Data/</storagelocation>
  <name>wrock::blog</name>
  <email>matt@mattwrock.com</email>
  <anonymousrole>Anonymous</anonymousrole>
  <descriptioncharactersforpostsbytagorcategory>0</descriptioncharactersforpostsbytagorcategory>
  <sendmailoncomment>True</sendmailoncomment>
  <showdescriptioninpostlistforpostsbytagorcategory>False</showdescriptioninpostlistforpostsbytagorcategory>
  <commentwhitelistcount>0</commentwhitelistcount>
  <htmlheader />
  <postsperfeed>10</postsperfeed>
  <useblognameinpagetitles>True</useblognameinpagetitles>
  <enablepingbackreceive>True</enablepingbackreceive>
  <enablehttpcompression>True</enablehttpcompression>
  <authorname>Matt Wrock</authorname>
  <numberofrecentposts>10</numberofrecentposts>
  <culture>Auto</culture>
  <enablerecaptchaoncontactform>False</enablerecaptchaoncontactform>
  <enablereferrertracking>True</enablereferrertracking>
  <enablerelatedposts>True</enablerelatedposts>
  <smtpserverport>25</smtpserverport>
  <showlivepreview>True</showlivepreview>
  <enablepingbacksend>True</enablepingbacksend>
  <blogrollupdateminutes>60</blogrollupdateminutes>
  <enabletrackbackreceive>True</enabletrackbackreceive>
  <avatar>monster</avatar>
  <addiptoblacklistfilteronrejection>False</addiptoblacklistfilteronrejection>
  <smtpserver>smtp.mattwrock.com</smtpserver>
  <enableenclosures>False</enableenclosures>
  <trustauthenticatedusers>False</trustauthenticatedusers>
  <enableopensearch>True</enableopensearch>
  <displayratingsonrecentposts>False</displayratingsonrecentposts>
  <disquswebsitename />
  <searchdefaulttext>Enter search term or APML url</searchdefaulttext>
  <enablecommentsearch>True</enablecommentsearch>
  <commentreportmistakes>False</commentreportmistakes>
  <geocodinglatitude>0</geocodinglatitude>
  <syndicationformat>Rss</syndicationformat>
  <geocodinglongitude>0</geocodinglongitude>
  <timezone>9</timezone>
  <contactformmessage>&lt;p&gt;I'll answer the mail as soon as I can.&lt;/p&gt;</contactformmessage>
  <showpostnavigation>True</showpostnavigation>
  <searchcommentlabeltext>Include comments in search</searchcommentlabeltext>
  <postsperpage>10</postsperpage>
  <enablecountryincomments>True</enablecountryincomments>
  <timestamppostlinks>True</timestamppostlinks>
  <remotemaxfilesize>524288</remotemaxfilesize>
  <iscommentnestingenabled>True</iscommentnestingenabled>
  <numberofrecentcomments>10</numberofrecentcomments>
  <language>en-US</language>
  <showpingbacks>False</showpingbacks>
  <addiptowhitelistfilteronapproval>False</addiptowhitelistfilteronapproval>
  <compresswebresource>True</compresswebresource>
  <alternatefeedurl>http://feeds.feedburner.com/Wrockblog</alternatefeedurl>
  <commentblacklistcount>1</commentblacklistcount>
  <requiresslmetaweblogapi>False</requiresslmetaweblogapi>
  <removewhitespaceinstylesheets>True</removewhitespaceinstylesheets>
  <selfregistrationinitialrole>Select</selfregistrationinitialrole>
  <feedauthor>matt@mattwrock.com</feedauthor>
  <disqusaddcommentstopages>False</disqusaddcommentstopages>
  <smtppassword>1055fell</smtppassword>
  <enablecommentsmoderation>True</enablecommentsmoderation>
  <handlewwwsubdomain />
  <contactthankmessage>&lt;h1&gt;Thank you&lt;/h1&gt;&lt;p&gt;The message was sent.&lt;/p&gt;</contactthankmessage>
  <fileextension>.aspx</fileextension>
  <iscocommentenabled>False</iscocommentenabled>
  <enablessl>False</enablessl>
  <enableerrorlogging>False</enableerrorlogging>
  <blogrollmaxlength>23</blogrollmaxlength>
</settings>