<?xml version="1.0"?>

<configuration>
    <location path="Default.aspx">
        <system.web>
            <authorization>
                <allow roles="administrators"/>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
  <location path="Profile.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators,editors"/>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Users.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="Roles.aspx">
        <system.web>
            <authorization>
                <allow roles="administrators"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
</configuration> 